<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Admin Login</title>
    <style>
        .passinput{
            border-radius: 10px; 
            height: 25px; 
            padding: 0 10px;
        } 
    </style>
</head>

<body>
    <div class="container">
        <h2>Admin Login</h2>
        <form action="/admin" method="post">
            <label for="password">Password:</label>
            <input class="passinput" type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>
